.SimpleCard__root {
}

.SimpleCard__img {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 10px, rgba(0, 0, 0, 0.23) 0 3px 10px;
}

.SimpleCard__img._default {
    width: 223px;
    height: 311px;
}

.SimpleCard__img._oversize {
    width: 312px;
    height: 445px;
}

.SimpleCard__img._foil {
    animation: holo 2s infinite ease-out;
}

@keyframes holo{
    from{filter: hue-rotate(0deg)}
    to{filter: hue-rotate(360deg)}
}
