.CardInfo__root {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CardInfo__root._mobile {
    align-items: initial;
}

.CardInfo__back {
    position: absolute;
    top: 20px;
    left: 5px;
    z-index: 1;
}

.CardInfo__search {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.CardInfo__background {
    position: fixed;
    z-index: -1;
}

.CardInfo__backgroundComposition {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
}

.CardInfo__backgroundImage {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background: no-repeat -82px -163px;
    background-size: 1016px;
    filter: blur(5px);
    position: absolute;
}

.CardInfo__backgroundTrapezoid {
    height: 0;
    width: 100vw;
    border-bottom: 103vh solid #242424;
    border-left: 50vw solid transparent;
    z-index: 1;
    background: rgba(33, 33, 33, .3)
}

.CardInfo__preloader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
}

.CardInfo__circular {
    margin: 60px 0;
}

.CardInfo__container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 990px;
}

.CardInfo__fullInfo {
    padding: 15px;
    position: relative;
}

.CardInfo__icons {
    display: flex;
    justify-content: flex-end;
}

.CardInfo__card {
    padding: 15px;
}

.CardInfo__artist {
    padding: 8px;
    color: #888;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.CardInfo__artistName {
    color: #eee;
    text-transform: none;
}

.CardInfo__head {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.CardInfo__title {
    min-width: 300px;
    min-height: 50px;
    text-align: left;
    display: block;
    font-size: 65px;
    line-height: 80px;
    font-family: "Beleren Bold";
    color: #eee;
}

.CardInfo__cardBlock {
    padding-top: 15px;
    display: flex;
}

.CardInfo__details {
    max-width: 250px;
    min-width: 250px;
    min-height: 130px;
    display: flex;
    flex-direction: column;
}

.CardInfo__detailTitle {
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    color: #888;
    text-align: left;
}

.CardInfo__setName {
    font-size: 14px;
    color: #eee;
    text-decoration: none;
    cursor: pointer;
}

.CardInfo__setIcon {
    display: inline-block;
    padding: 0 3px 5px;
}

.CardInfo__legalities {
    text-align: left;
    padding-bottom: 12px;
}

.CardInfo__legality {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 245px;
    font-size: 14px;
    color: #eee;
}

.CardInfo__legalityName {
    padding: 2px 0;
    display: flex;
    justify-content: space-between;
}

.CardInfo__textSymbols.ms {
    border-radius: 50%;
    margin: 0 2px;
    background-color: #9c9c9c;
    color: #111;
    font-size: 10px;
}

.CardInfo__textSymbols-r {
    background-color: #e5a081 !important;
}

.CardInfo__textSymbols-g {
    background-color: #a3d1a3 !important;
}

.CardInfo__textSymbols-b {
    background-color: #919191 !important;
}

.CardInfo__textSymbols-u {
    background-color: #b2e6fb !important;
}

.CardInfo__textSymbols-w {
    background-color: #FFFFDA !important;
}

.CardInfo__textBlock {
    padding: 0 15px;
}

.CardInfo__type {
    font-size: 14px;
    color: #eee;
    text-align: left;
    padding-bottom: 12px;
}

.CardInfo__manaCost {
    font-size: 14px;
    color: #eee;
    text-align: left;
    padding-bottom: 12px;
}

.CardInfo__set {
    font-size: 12px;
    color: #eee;
    text-align: left;
    padding-bottom: 12px;
}

.CardInfo__printings {
    text-align: left;
    padding-bottom: 12px;
}

.CardInfo__textInfo {
    max-width: 300px;
    min-width: 300px;
    min-height: 150px;
    padding: 7px;
    border: 2px solid #333;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #eee;
}

.CardInfo__textFlavor {
    font-size: 12px;
    font-style: italic;
    color: #bbb;
}
