.Cards__main {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.Cards__swipe {
    margin-top: 10px;
}

.Cards__icon {
    width: 42px !important;
    height: 42px !important;
    padding: 9px !important;
}

.Cards__preloader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.Cards__circular {
    margin: 60px 0;
}

.type {
    transition: all 0.25s ease-in-out;
}

.typeSelected {
    color: #d6bf84 !important;
}

.mana {
    transition: all 0.25s ease-in-out;
}

.mana-r {
    color: #D32F2F !important;
}

.mana-g {
    color: #388E3C !important;
}

.mana-b {
    color: #616161 !important;
}

.mana-u {
    color: #1976D2 !important;
}

.mana-w {
    color: #FFFFDA !important;
}
