.Loader,
.Loader > div {
    position: relative;
    box-sizing: border-box;
}
.Loader {
    display: block;
    font-size: 0;
    color: #fff;
}

.Loader > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}

.Loader > div {
    width: 100%;
    height: 100%;
    border-radius: 0;
    animation: square-spin 3s 0s cubic-bezier(.09, .57, .49, .9) infinite;
}

.Loader {
    width: 60px;
    height: 80px;
    border-radius: 4px;
}

.Loader > div {
    background: #382d14 url(./assets/default-card.png) no-repeat;
    background-size: 60px 80px;
}

/*
 * Animation
 */
@-webkit-keyframes square-spin {
    0% {
        transform: perspective(100px) rotateX(0) rotateY(0);
    }
    25% {
        transform: perspective(100px) rotateX(180deg) rotateY(0);
    }
    50% {
        transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    }
    75% {
        transform: perspective(100px) rotateX(0) rotateY(180deg);
    }
    100% {
        transform: perspective(100px) rotateX(0) rotateY(360deg);
    }
}
@-moz-keyframes square-spin {
    0% {
        transform: perspective(100px) rotateX(0) rotateY(0);
    }
    25% {
        transform: perspective(100px) rotateX(180deg) rotateY(0);
    }
    50% {
        transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    }
    75% {
        transform: perspective(100px) rotateX(0) rotateY(180deg);
    }
    100% {
        transform: perspective(100px) rotateX(0) rotateY(360deg);
    }
}
@-o-keyframes square-spin {
    0% {
        transform: perspective(100px) rotateX(0) rotateY(0);
    }
    25% {
        transform: perspective(100px) rotateX(180deg) rotateY(0);
    }
    50% {
        transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    }
    75% {
        transform: perspective(100px) rotateX(0) rotateY(180deg);
    }
    100% {
        transform: perspective(100px) rotateX(0) rotateY(360deg);
    }
}
@keyframes square-spin {
    0% {
        transform: perspective(100px) rotateX(0) rotateY(0);
    }
    25% {
        transform: perspective(100px) rotateX(180deg) rotateY(0);
    }
    50% {
        transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    }
    75% {
        transform: perspective(100px) rotateX(0) rotateY(180deg);
    }
    100% {
        transform: perspective(100px) rotateX(0) rotateY(360deg);
    }
}
