.DoubleFacedCard__root div {
    display: block;
    outline: none;
    width: 223px;
    height: 311px;
}

.DoubleFacedCard__img {
    width: 223px;
    height: 311px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
