.DefaultCard__img {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 10px, rgba(0, 0, 0, 0.23) 0 3px 10px;
}

.DefaultCard__img._oversize {
    width: 312px;
    height: 445px;
}
.DefaultCard__img._default {
    width: 223px;
    height: 311px;
}
