.CardFilter__inputWrapper,
.CardFilter__header,
.CardFilter__inputManaFilter,
.CardFilter__inputRarityFilter,
.CardFilter__inputTypeFilter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.CardFilter__header {
    margin-bottom: 15px;
    color: #eee;
    font-family: "Beleren Bold";
    font-size: 24px;
    line-height: 30px;
}

.CardFilter__header:after {
    content: ' ';
    border-bottom: 1px solid #eee;
    width: 90%;
}

.CardFilter__IconHeader,
.CardFilter__headerTitle {
    text-align: center;
    padding: 5px;
}

.ss-basicLand {
    color: #111111;
}

.CardFilter__type,
.CardFilter__rarity,
.CardFilter__mana{
    transition: all 0.25s ease-in-out;
}

.CardFilter__rarity {
    font-family: "Beleren Bold";
}

.CardFilter__result {
    padding: 12px;
    display: flex;
    justify-content: center;
    font-family: "Beleren Bold";
    color: #eee;
}

.CardFilter__typeSelected {
    color: #e75b0d !important;
}

.CardFilter__icon {
    width: 42px !important;
    height: 42px !important;
    padding: 9px !important;
}

.CardFilter__icon._active svg {
    color: #d32f2f !important;
}

.CardFilter__label > div {
    top: -10px !important;
}

.CardFilter__mana-r {
    color: #e5a081 !important;
}

.CardFilter__mana-g {
    color: #a3d1a3 !important;
}

.CardFilter__mana-b {
    color: #919191 !important;
}

.CardFilter__mana-u {
    color: #b2e6fb !important;
}

.CardFilter__mana-w {
    color: #FFFFDA !important;
}
