@font-face {
    font-family: "Beleren Bold";
    src: url(../fonts/Beleren2016-Bold.woff) format('woff')
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}

body {
    background: #222 url(../img/bg.jpg);
}

.root {
    height: 100%;
    overflow: hidden;
}
