@font-face {
    font-family: "Beleren Bold";
    src: url(../fonts/Beleren2016-Bold.woff) format('woff')
}

body {
    background: url(http://gatherer.wizards.com/Images/background/Gray_Patterned_BG.jpg);
}
