.DecksContainer__main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.DecksContainer__card {
    padding: 0 12px;
    min-width: 60%;
}

.DecksContainer__floatButton {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.DecksContainer__deckCard {
    background-color: #222;
    width: 300px;
    margin: 13px;
}

.DecksContainer__cardTitle {
    font-family: "Beleren Bold";
    text-align: left;
}

.DecksContainer__cardBody {
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
}

.DecksContainer__cardDetails {
    bottom: 28px;
    left: 110px;
    position: relative;
}

.DecksContainer__cardDetailsWrapper {
    height: 0;
}

.DecksContainer__cardMana {
    padding: 0;
    margin: 20px 0;
}

.mana {
    width: 15px;
    height: 15px;
    margin: 3px;
    padding: 3px;
    border-radius: 50%;
}

.mana-r {
    background-color: #ff3a36;
}

.mana-g {
    background-color: #19b43d;
}

.mana-b {
    background-color: #a5a5a5;
}

.mana-u {
    background-color: #5297e0;
}

.mana-w {
    background-color: #efe9ab;
}
