.Decks__main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.Decks__noResults {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: "Beleren Bold";
    color: #eee;
}

.Decks__noResults a {
    color: #eee;
}

.Decks__deckList {
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 40px 0 100px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    overflow: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}


.Decks__deckList::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #696969;
}

.Decks__deckList::-webkit-scrollbar {
    width: 10px;
    background-color: #696969;
}

.Decks__deckList::-webkit-scrollbar-thumb {
    background-color: #303030;
    border: 2px solid #303030;
}

.Decks__floatButton {
    position: fixed;
    right: 15px;
    bottom: 65px;
    z-index: 0;
}
