.Decks__main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.Decks__deckList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.Decks__floatButton {
    position: fixed;
    right: 15px;
    bottom: 65px;
    z-index: 2;
}
