.CardGridList__results {
    height: 100vh;
    display: flex;
    padding: 20px 15vw 100px;
    box-sizing: border-box;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.CardGridList__results::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #696969;
}

.CardGridList__results::-webkit-scrollbar {
    width: 10px;
    background-color: #696969;
}

.CardGridList__results::-webkit-scrollbar-thumb {
    background-color: #303030;
    border: 2px solid #303030;
}

.CardGridList__result {
    padding: 0 40px;
    width: 225px;
    height: 365px;
    user-select: none;
}

.CardGridList__resultName {
    margin-top: 25px;
    display: block;
    font-size: 16px;
    font-family: "Beleren Bold";
    color: #eee;
    text-decoration: none;
    cursor: pointer;
}

.CardGridList__resultName._basicLand {
    cursor: auto;
}
