.Favorites__main {
    overflow: hidden;
}

.Favorites__filter {
    position: absolute;
    top: 22px;
    right: 20px;
    z-index: 1;
}

.Favorites__preloader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
}

.Favorites__circular {
    margin: 60px 0;
}
