.CardSets__main {
    min-height: 100vh;
    align-items: center;
}

.CardSets__preloader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
}

.CardSets__circular {
    margin: 60px 0;
}

.CardSets__setList {
    height: calc(100% - 56px);
    width: 100vw;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
}

.CardSets__setList::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #696969;
}

.CardSets__setList::-webkit-scrollbar {
    width: 10px;
    background-color: #696969;
}

.CardSets__setList::-webkit-scrollbar-thumb {
    background-color: #303030;
    border: 2px solid #303030;
}

.CardSets__block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    width: 290px;
    margin: 50px auto;
    border: 1px solid #e2e2e2;
}

.CardSets__blockTitle {
    width: 100%;
    font-size: 32px;
    line-height: 45px;
    font-family: "Beleren Bold";
    color: #eee;
    cursor: pointer;
}

.CardSets__blockTitle:hover {
    color: #999;
}

.CardSets__set {
    color: #f58d14;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.CardSets__set:hover {
    color: #b0680e;
}

.CardSets__set:hover .CardSets__setName {
    color: #999;
}

.CardSets__sets {
    display: none;
}

.CardSets__sets._open {
    display: block;
}

.CardSets__Icon {
    margin-right: 20px;
}

.CardSets__setName {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    margin-left: 20px;
    font-family: "Beleren Bold";
    text-decoration: none;
    color: #eee;
}

.CardSets__setNameWrapper {
    padding: 14px;
}

.CardSets__floatButton {
    position: fixed;
    right: 15px;
    bottom: 65px;
    z-index: 0;
}
