.Suggester__main {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.Suggester__search {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.Suggester__preloader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
}

.Suggester__circular {
    margin: 60px 0;
}
