.Suggester__main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.Suggester__inputWrapper {
    padding: 0 12px;
    margin: 15px;
    min-width: 60%;
}

.Suggester__inputWrapper._mobile {
    min-width: 100%;
    margin: 0;
}

.Suggester__inputWrapper._mobile._inited {
    position: fixed;
    top: 0;
}
