.NavBar__root {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
    will-change: transform;
}

.NavBar__icon {
    padding: 8px 0 !important;
    min-width: 45px !important;
}

.NavBar__root .NavBar__button {
    min-width: 60px;
}

.NavBar__selectedIcon svg,
.NavBar__selectedIcon div {
    color: #e5a081 !important;
    fill: #e5a081 !important;
}
