.NavBar__root {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.NavBar__icon {
    padding: 8px 0 !important;
    min-width: 45px !important;
}

.NavBar__selectedIcon > svg {
    color: rgb(33, 150, 243) !important;
}
