.CardSet__main {
    overflow: hidden;
}

.CardSet__back {
    position: absolute;
    top: 22px;
    left: 5px;
    z-index: 1;
}

.CardSet__filter {
    position: absolute;
    top: 22px;
    right: 10px;
    z-index: 1;
}

.CardSet__preloader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
}

.CardSet__circular {
    margin: 60px 0;
}
