html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}

body {
    background: #222 url(http://gatherer.wizards.com/Images/background/Gray_Patterned_BG.jpg);
}

.root {
    height: 100%;
}
