.DeckInfo__root {
    display: flex;
    justify-content: center;
}

.DeckInfo__deckCard {
    overflow: auto;
    height: 92vh;
    background-color: #222 !important;
    margin: 15px;
    padding: 7px;
    width: 320px;
}

.DeckInfo__deckCard::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #696969;
}

.DeckInfo__deckCard::-webkit-scrollbar {
    width: 10px;
    background-color: #696969;
}

.DeckInfo__deckHead {
    width: 100%;
    background-color: #fdfcf3;
}

.DeckInfo__avatar {
    position: relative;
    display: flex;
    background-color: #f9f9f9;
    flex-wrap: wrap;
    justify-content: space-around;
}

.DeckInfo__cardHeadlinerTop {
}

.DeckInfo__cardHeadlinerWrapper {
    background-color: #f9f9f9;
}

.DeckInfo__cardHeadliner {
    height: 312px;
    width: 222px;
    display: block;
    margin: 0 auto;
    background-color: #000;
}

.DeckInfo__description {
    max-width: 340px;
    padding: 10px;
    letter-spacing: 1px;
}

.DeckInfo__cardManaPool {
    margin: 0 auto;
}

.DeckInfo__manaWrapper {
    margin: 5px;
}

.DeckInfo__composition {
    flex-wrap: wrap-reverse;
}

.DeckInfo__compositionWrapper {

}

.DeckInfo__cardMana {
    padding: 0;
    margin: 0;
}

.DeckInfo__cardManaNumber {
    color: #e2e2e2;
    font: 14px Helvetica;
}

.DeckInfo__manaBar {
    top: 50px;
    right: 0;
    padding: 10px 0;
    white-space: nowrap;
    vertical-align: top;
    background-color: #222;
}

.DeckInfo__title {
    font-family: "Beleren Bold";
    font-size: 20px;
    display: block;
    color: #222;
    cursor: pointer;
}

.DeckInfo__mana {
    display: inline-block;
    margin: 1px;
    height: 25px;
}

.DeckInfo__mana-r {
    background-color: #e5a081;
}

.DeckInfo__mana-g {
    background-color: #a3d1a3;
}

.DeckInfo__mana-b {
    background-color: #919191;
}

.DeckInfo__mana-u {
    background-color: #b2e6fb;
}

.DeckInfo__mana-w {
    background-color: #FFFFDA;
}

.DeckInfo__stat {
    box-sizing: border-box;
    padding: 100px 0;
}

.type {
    width: 15px;
    height: 15px;
    margin: 3px;
    padding: 5px;
    border-radius: 50%;
    background-color: #e2e2e2;
}

.mana {
    margin: 3px;
    padding: 7px;
    border-radius: 50%;
    background-color: #222;
    color: #f9f9f9;
    font-size: 20px;
    height: 20px;
    width: 20px;
}
